#byUser {
    width: 100vw;
    height: 100vh;
    .byUserImg {
        background-image: url("/voluntermedia/volunter-images/byuserBg.png");
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat, no-repeat;
        background-size:
            100vw 100vh,
            100vw 100vh;
        background-position:
            bottom left,
            bottom left;
    }
}
