#step3{
    background-image: url("/public/voluntermedia/icons/login/loginBlue/bgLeft.png");
    width: 390px;
    height: 100%;
    background-repeat: no-repeat;
}
#step1{
    background-image: url("/public/voluntermedia/icons/login/loginBlue/phoneBgAirplane.png");
    width: 480px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: 0 0;
}